<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "file:///D:/gb_sey_1218/jsp/workspace/JSP2/src/main/webapp/WEB-INF/lib/mybatis-3-config.dtd">
<configuration>
<typeAliases>
	<typeAlias type="com.movie.web.dto.UserDTO" alias="userdto"/>
</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="test" />	<!-- 사용중인 로컬 db 계정 -->
				<property name="password" value="test" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/movie/web/sql/user.xml"/>
		<mapper resource="com/movie/web/movieinfo.xml"/>
	</mappers>
</configuration>








